{
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    },
    "development": {
      "presets": ["es2015", "babel-preset-stage-0"]
    },
    "production": {
      "presets": ["es2015", "babel-preset-stage-0"]
    }
  }
}
